    

  
{% macro display(pitches) %}
<div class="container-fluid">
  <div class="row">
    {% if pitches %}
    {% for pitch in pitches %}
    <div class="col-md-4">
      <div class="card m-1 p-0">
        <p class="card-header">Category: {{pitch.category}}</p>
        <div class="card-body">
          <p class="m-0 p-0"><strong>{{pitch.title}}</strong></p>
          <p class="m-0 p-0">{{pitch.post}}</p><br>
          

        </div>
        <div class="card-footer text-muted">
          <p class="text-center p-0 m-0">Posted by: {{pitch.user.username}} on {{pitch.time.strftime('%Y-%m-%d')}}</p>
        </div>
      </div>
    </div>

    {% endfor %}
    {% else %}
    <div class="card">
      <div class="card-body">

        <p class="card-title">No pitches in this category yet</p>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endmacro %}
